import { defineConfig, Options } from '@mikro-orm/core';
import { Migrator } from '@mikro-orm/migrations';

export default defineConfig({
  entities: ['dist/**/*.entity.js'],
  entitiesTs: ['src/**/*.entity.ts'],
  user: 'admin',
  password: 'password@123',
  dbName: 'tracker',
  host: 'localhost',
  //TODO find better way to do this. Since this deprecated
  type: 'mysql',
  extensions: [Migrator],
  allowGlobalContext: true,
});
